<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario con Bootstrap</title>
  <!-- Enlaces a los archivos CSS de Bootstrap -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>


    .rounded-form {
      border-radius: 10px; 
    }

  </style>
</head>
<nav class="navbar navbar p-3 mb-2 bg-primary text-white">
  <a class="navbar-brand" href="http://127.0.0.1:4000/">
    <img src="https://www.4-72.com.co/info/portal_472/media/bloque5.png" width="150" height="30" class="d-inline-block align-top" alt="">

  </a>
</nav>
<body>

<img  src = "https://play-lh.googleusercontent.com/JV7wLrdUmf5vuVgDWc7ZabMtzyS8PbMrWOp4EmO7XQcpNSx0XRS-Xibb-QSX1g-Br5ux=w240-h480-rw" class="rounded mx-auto d-block"/>
<espacio>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-3">
        
        <form action="/user" method="POST">
          <div class="form-group rounded-form ">
            <label class ="text-primary">Name</label>
            <input type="text" class="form-control rounded-8" name="username" placeholder="Ingrese su nombre">
          </div>
          <div class="form-group rounded-form ">
            <label class ="text-primary">Position:</label>
            <input type="text" class="form-control rounded" name="name" placeholder="Ingrese su cargo en la empresa">
          </div>
          <div class="form-group rounded-form ">
            <label class ="text-primary">Hours:</label>
            <input class="form-control rounded" name="hours" placeholder="Escriba Las horas realizadas ">
          </div>
          <div class = "row justify-content-center " >
          <button class="btn btn-primary btn-block mb-2 bg-success text-white" type="submit">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</espacio>

<!-- Enlaces a los archivos JavaScript de Bootstrap (opcional, pero necesario para ciertas funcionalidades) -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>
